NODE_ENV=development
LOG_LEVEL=debug

PORT=8080

DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"

BETTER_AUTH_SECRET=""

BETTER_AUTH_URL=http://localhost:8080

APP_URL=http://localhost:8080
CLIENT_URL=http://localhost:3000